<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <link rel="stylesheet" type="text/css" href="../static/css/guru.css" />
</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                </div>
                
                <ul class="nav navbar-nav">
                   	<li class="dropdown">
				        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Conteúdo<span class="caret"></span></a>
				        <ul class="dropdown-menu">
				          <li><a href="#" th:href="@{/conteudos}">Conteúdos</a></li>
				          <li><a href="#" th:href="@{/conteudo/new}" sec:authorize="hasAuthority('ADMIN')">Novo Conteúdo</a></li>
				        </ul>
				    </li>
                    <li><a href="#" th:href="@{/login}">Sign In</a></li>
                 </ul>
            </div>
        </nav>
        <div class="welcome">
            <span sec:authorize="isAuthenticated()">Welcome <span sec:authentication="name"></span></span>
        </div>
        <div class="jumbotron">
            <div class="row text-center">
                <div class="">
                    <h2>LogEasy Professor</h2>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>