<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
    <title>LogEasy WebApplication</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <script type="text/javascript">
	    function openCursoSearchModal(){
	    	$.ajax({
	    		url: "/iniciaBuscaConteudo",
	    		success: function(data){
	    			$("#cursoSearchModalHolder").html(data);
	    			$("#cursoSearchModal").modal("show");
	    		}
	    	});
	    }
	    
	    function openCursoNovoModal(){
	    	$.ajax({
	    		url: "/conteudocurso/new",
	    		success: function(data){
	    			$("#cursoNovoModalHolder").html(data);
	    			$("#cursoNovoModal").modal("show");
	    		}
	    	});
	    }
	    
	    function getCurso(cursoId, cursoNome){
	        $('#curso-nome').val(cursoNome);
	        $('#curso-id').val(cursoId);
	        $("#cursoSearchModal").modal('hide');
	        $("#cursoNovoModal").modal('hide');
	        $(".modal-backdrop").remove();
	    }
	    
	    function searchCursos() {
	    	//Para evitar que o modal seja fechado no submit
	        event.preventDefault();
	        $form = document.getElementById('formcurso');
	        fordata = serialize($form);
	        $.post($form.action, fordata, function(data){
	        	$("#cursoSearchModalHolder").html(data);
    			$("#cursoSearchModal").modal("show");
	        });
	    }
	    
	    function salvarCurso() {
	    	//Para evitar que o modal seja fechado no submit
	        event.preventDefault();
	        $form = document.getElementById('formnovocurso');
	        fordata = serialize($form);
	        $.post($form.action, fordata, function(data){
	        	console.log(data);
	        	$("#dadosCurso").html(data);
	        	$("#cursoNovoModal").modal('hide');
		        $(".modal-backdrop").remove();
	        });
	    }
	    
	    //não funciona, usar a de cima
	    function myFunction() {
	    	$("form[name='formcurso']").submit(function( event ) {
	    		console.log('indo');
	    		e.preventDefault();
	    		console.log('submetendo');
	            $.ajax({
	                url: "/buscaCursos",
	                type: "POST",
	                success: function (data) {
	                	$("#divcursos").html(data);
	                }
	            });
	        })
	    }
    </script>
</head>
<body>
<div>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="container">
    <form id="formlogout" name="formlogout" class="form-horizontal" th:action="@{/logout}" method="post">
        <div class="form-group">
            <div class="col-sm-10"> <h2>Conteúdo Create/Update</h2></div>
            <div class="col-sm-2" style="padding-top: 30px;">
                
            </div>
        </div>
    </form>

    <div>
        <form id="formconteudo" name="formconteudo" class="form-horizontal" th:object="${conteudo}" th:action="@{/conteudo}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{version}"/>
            <div id="dadosCurso" th:fragment="divDadosCurso">
	            <input id="curso-id" type="hidden" th:field="*{curso}" th:value="${curso.id}"/>
	            <div class="form-group">
	                <label class="col-sm-2 control-label">Curso:</label>
	                <div class="col-sm-10">
	                    <input id="curso-nome" type="text" disabled="disabled" class="form-control col-sm-4" th:value="${curso.nome}"/>
	                    <button type="button" class="btn btn-default col-sm-2" th:onclick="'javascript:openCursoSearchModal();'">Buscar</button>
	                    <button type="button" class="btn btn-default col-sm-2" th:onclick="'javascript:openCursoNovoModal();'">Novo</button>
	                </div>
	            </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Nível:</label>
                <div class="col-sm-10">
                    <select class="form-control" th:field="*{nivel}">
					    <option value="0">Selecione um nível</option>
					    <option th:each="nivel : ${niveis}" th:value="${nivel.id}" th:text="${nivel.descricao}"></option>
					</select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Nome:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{nome}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Lição:</label>
                <div class="col-sm-10">
                    <textarea row="3" class="form-control" th:field="*{licao}"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Dica:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{dica}"/>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="pull-right btn btn-default" name="save" th:text="Salvar">Salvar</button>
            </div>
        </form>
        <div id="cursoSearchModalHolder"></div>
        <div id="cursoNovoModalHolder"></div>
    </div>
</div>
<div id="cursoSearchModal" class="modal fade" role="dialog" th:fragment="modalSearchCurso">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Buscar Curso</h4>
			</div>
			<form id="formcurso" name="formcurso" class="form-horizontal" th:object="${curso}" th:action="@{/buscaCursos}" method="post">
				<div class="modal-body">
					<div class="form-group">
						<label class="col-sm-2 control-label">Disciplina:</label>
						<div class="col-sm-10">
							<select class="form-control" th:field="*{disciplina}">
								<option value="0">Selecione uma disciplina</option>
								<option th:each="disciplina : ${disciplinas}" th:value="${disciplina.id}" th:text="${disciplina.nome}"></option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Código:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="*{codigo}"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Nome:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="*{nome}"/>
						</div>
					</div>
					<div class="form-group">
						<button class="btn btn-default pull-right" type="button"  th:text="Buscar" id="registerbtn" onclick="searchCursos()">Buscar</button>
					</div>
				</div>
			</form>
			<div class="modal-footer">
				<div id="divcursos" th:if="${not #lists.isEmpty(cursos)}">
					<div class="col-sm-10"><h2>Lista de Cursos</h2></div>
					<table id="tabela-cursos" class="table table-striped">
						<tr>
							<th>Id</th>
							<th>Código</th>
							<th>Nome</th>
							<th>Descrição</th>
							<th>Selecionar</th>
						</tr>
						<tr th:each="curso : ${cursos}">
							<td th:text="${curso.id}"><a href="/curso/${curso.id}">Id</a></td>
							<td th:text="${curso.codigo}">Código</td>
							<td th:text="${curso.nome}">Nome</td>
							<td th:text="${curso.descricao}">Descrição</td>
							<td><a href="#" th:onclick="'javascript:getCurso(\'' + ${curso.id} + '\', \'' + ${curso.nome} + '\');'" data-dismiss="modal">Selecionar</a></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	</div>
<div id="cursoNovoModal" class="modal fade" role="dialog" th:fragment="modalNovoCurso">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Buscar Curso</h4>
			</div>
			<form id="formnovocurso" name="formnovocurso" class="form-horizontal" th:object="${curso}" th:action="@{/conteudocurso}" method="post">
				<div class="modal-body">
					<input type="hidden" th:field="*{id}"/>
	            	<input type="hidden" th:field="*{version}"/>
		            <div class="form-group">
		                <label class="col-sm-2 control-label">Código:</label>
		                <div class="col-sm-10">
		                    <input type="text" class="form-control" th:field="*{codigo}"/>
		                </div>
		            </div>
		            <div class="form-group">
		                <label class="col-sm-2 control-label">Nome:</label>
		                <div class="col-sm-10">
		                    <input type="text" class="form-control" th:field="*{nome}"/>
		                </div>
		            </div>
		            <div class="form-group">
		                <label class="col-sm-2 control-label">Descrição:</label>
		                <div class="col-sm-10">
		                    <input type="text" class="form-control" th:field="*{descricao}"/>
		                </div>
		            </div>
		            <div class="form-group">
		                <label class="col-sm-2 control-label">Disciplina:</label>
		                <div class="col-sm-10">
		                    <select class="form-control" th:field="*{disciplina}">
							    <option value="0">Selecione uma disciplina</option>
							    <option th:each="disciplina : ${disciplinas}" th:value="${disciplina.id}" th:text="${disciplina.nome}"></option>
							</select>
		                </div>
		            </div>
					<div class="modal-footer">
						<button type="button"  th:text="SalvarCurso" id="registernovocursobtn" onclick="salvarCurso()">Salvar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</div>
</body>
</html>