<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>LogEasy WebApplication</title>
	<link rel="stylesheet" type="text/css" href="../static/css/guru.css" />
	<th:block th:include="fragments/headerinc :: head"></th:block> 
</head>
<body>
	<div>
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<div class="container">
		<form class="form-horizontal" th:action="@{/logout}" method="post">
			<div class="form-group">
				<div class="col-sm-10">
					<h2>Questão Create/Update</h2>
				</div>
				<div class="col-sm-2" style="padding-top: 30px;">
					<!-- <input type="submit" value="Sign Out" /> -->
				</div>
			</div>
		</form>

		<div>
			<form class="form-horizontal" th:object="${questao}"
				th:action="@{/questao}" method="post">
				<input type="hidden" th:field="*{id}" /> <input type="hidden"
					th:field="*{version}" />
				<div class="form-group">
					<label class="col-sm-2 control-label">Conteúdo:</label>
					<div class="col-sm-10">
						<select class="form-control" th:field="*{conteudo}">
							<option value="0">Selecione um conteúdo</option>
							<option th:each="conteudo : ${conteudos}"
								th:value="${conteudo.id}" th:text="${conteudo.nome}"></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Enunciado:</label>
					<div class="col-sm-10">
						<textarea rows="3" class="form-control" th:field="*{enunciado}"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Pontuação:</label>
					<div class="col-sm-2">
						<input type="number" class="form-control" th:field="*{pontuacao}" />
					</div>
				</div>
				<div class="form-group">
		            <div class="col-sm-10 pull-right">
		            	<label class="col-sm-2 control-label"><h3>Alternativas</h3></label>
		            </div>
		            <div class="col-sm-10 pull-right">
			            <table class="table table-bordered">
			              <thead>
			                <tr>
			                  <th>#</th>
			                  <th class="col-sm-8" th:text="Texto">Texto</th>
			                  <th class="col-sm-2" th:text="Valor">Valor</th>
			                  <th class="col-sm-1">
			                    <button type="submit" name="addRow" class="btn btn-success glyphicon glyphicon-plus pull-right" title="Add Alternativa"></button>
			                  </th>
			                </tr>
			              </thead>
			              <tbody>
			                <tr th:each="row,rowStat : *{alternativas}">
			                  <td th:text="${rowStat.count}">1</td>
			                  <td>
			                  	<div>
			                    	<input type="text" class="form-control" th:field="*{alternativas[__${rowStat.index}__].texto}"/>
			                    </div>
			                  </td>
			                  <td>
			                  	<div>
				                    <select class="form-control" th:field="*{alternativas[__${rowStat.index}__].valor}">
				                      <option th:value="true">True</option>
				                      <option th:value="false">False</option>
				                    </select>
				                </div>
			                  </td>
			                  <td>
			                    <button type="submit" name="removeRow" th:value="${rowStat.index}" class="btn btn-danger glyphicon glyphicon-remove pull-right"  title="Remover Alternativa"></button>
			                  </td>
			                </tr>
			              </tbody>
			            </table>
			        </div>
          		</div>
    
          <div class="submit">
            <button type="submit" class="btn btn-primary pull-right" name="save" th:text="Salvar">Salvar</button>    
          </div>
			</form>
		</div>
	</div>
	</div>

</body>
</html>