<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>LogEasy WebApplication</title>
	<link rel="stylesheet" type="text/css" href="../static/css/guru.css" />
	<th:block th:include="fragments/headerinc :: head"></th:block> 
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

		<form class="form-horizontal" th:action="@{/logout}" method="post">
			<div class="form-group">
				<div class="col-sm-10">
					<h2>Questão Create/Update</h2>
				</div>
				<div class="col-sm-2" style="padding-top: 30px;">
					<input type="submit" value="Sign Out" />
				</div>
			</div>
		</form>

		<div>
			<form class="form-horizontal" th:object="${questao}"
				th:action="@{/questao}" method="post">
				<input type="hidden" th:field="*{id}" /> <input type="hidden"
					th:field="*{version}" />
				<div class="form-group">
					<label class="col-sm-2 control-label">Conteúdo:</label>
					<div class="col-sm-10">
						<select class="form-control" th:field="*{conteudo}">
							<option value="0">Selecione um conteúdo</option>
							<option th:each="conteudo : ${conteudos}"
								th:value="${conteudo.id}" th:text="${conteudo.nome}"></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Enunciado:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{enunciado}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Pontuação:</label>
					<div class="col-sm-10">
						<input type="number" class="form-control" th:field="*{pontuacao}" />
					</div>
				</div>
				<div class="form-group">
		            <label class="col-sm-2 control-label" th:text="Alternativas">Alternativas</label>
		            <div class="col-sm-10">
			            <table>
			              <thead>
			                <tr>
			                  <th th:text="Row">Row</th>
			                  <th th:text="Texto">Texto</th>
			                  <th th:text="Valor">Valor</th>
			                  <th>
			                    <button type="submit" name="addRow">Add row</button>
			                  </th>
			                </tr>
			              </thead>
			              <tbody>
			                <tr th:each="row,rowStat : *{alternativas}">
			                  <td th:text="${rowStat.count}">1</td>
			                  <td>
			                    <input type="text" th:field="*{alternativas[__${rowStat.index}__].texto}"/>
			                  </td>
			                  <td>
			                    <select th:field="*{alternativas[__${rowStat.index}__].valor}">
			                      <option th:value="true">True</option>
			                      <option th:value="false">False</option>
			                    </select>
			                  </td>
			                  <td>
			                    <button type="submit" name="removeRow" th:value="${rowStat.index}">Remove row</button>
			                  </td>
			                </tr>
			              </tbody>
			            </table>
			        </div>
          		</div>
    
          <div class="submit pull-right">
            <button type="submit" class="btn btn-default" name="save" th:text="Salvar">Salvar</button>    
          </div>
			</form>
		</div>
	</div>

</body>
</html>